* {
	box-sizing: border-box;
}

@font-face{
	font-family: 'Hadogenes';
	src:url(../assets/fonts/Hadogenes-Regular.otf);
}

@font-face{
	font-family: 'terminal';
	src:url(../assets/fonts/terminal-grotesque_open.otf);
}

html, body {
  margin: 0;
  cursor: url(https://ani.cursors-4u.net/symbols/sym-9/sym837.ani), url(http://ani.cursors-4u.net/symbols/sym-9/sym837.png) auto !important;
  overflow: hidden;
}

img{
	display: block;
	max-width: 100%;
}

.question:hover, #note:hover, #heartChain:hover{
	transform: scale(1.5);

}


#icky{
	font-family: Hadogenes;
	color: white;

}

.question{
	display: inline;
	top: 5px;
	right:3rem;
	position: fixed;
	margin-top: 1rem;
	background-color:transparent;
	border-radius: 50%;
	filter: drop-shadow(0 0 40px red);
	/*box-shadow: 0 0 40px 10px red;*/
	cursor:url(https://ani.cursors-4u.net/symbols/sym-9/sym837.ani), url(http://ani.cursors-4u.net/symbols/sym-9/sym837.png), auto !important;
}
#mark{
	filter: drop-shadow(0 0 4px red);
	animation: pulse 2s ease-in-out infinite;
}

#info, #info2, #nowPlaying{
  font-family: monospace;
  color: red;
  background-color: black;
  margin: 1rem;
  padding: 2rem;
  position: absolute;
  border-radius: 50px;
  border-style: solid;
  z-index: 4;
  box-shadow: 0 0 20px 5px red;

}

#info{
  right:150px;
  top: 4px;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#info::-webkit-scrollbar {
    display: none;
     width: 0 !important;
}

#info2{
  right:150px;
  top: 160px;
  width: 300px;
  padding-top: 1.75rem;
}

#nowPlaying{
	right: 150px;
	top: 90px;
	width: 300px;
	padding: 1rem;
}

audio{
	width: 200px;
	height:50px;
	padding-top: 1em;
	display: inline-block;
	margin-bottom: 0.5rem;
}


#note{
	position: fixed;
	right:3rem;
	top: 120px;
	cursor:url(https://ani.cursors-4u.net/symbols/sym-9/sym837.ani), url(http://ani.cursors-4u.net/symbols/sym-9/sym837.png), auto !important;

}


#heartChain{
	position: fixed;
	right: 3rem;
	top: 210px;
	cursor:url(https://ani.cursors-4u.net/symbols/sym-9/sym837.ani), url(http://ani.cursors-4u.net/symbols/sym-9/sym837.png), auto !important;

}

p{
	padding: 0.5em;
	margin: 0;

	}

a{
text-decoration:none;
color: pink;
}

a:hover{
	text-decoration: underline wavy teal;
}

.hidden{
	display: none;
}

/* close */
#close, #close2, #close3{
	display:inline-block;
	position: absolute;
	font-family:terminal;
	font-size: 1.5em;
   -webkit-text-stroke: 0.75px yellow;
   color: transparent;
	padding: 2px;
	right: 1em;
	top: 0.75em;
	text-shadow: 1px 1px 2px red, 0 0 1em #26736A, 0 0 0.2em orange;
}
/* note to self this is probs where calc would come in handy */

#close:hover,
#close2:hover,
#close3:hover{
	color: pink;
	-webkit-text-stroke: 1px transparent;
	transform:rotateZ(360deg);
	transform-origin: center;
	transition: 2s ease;
	cursor: alias;
}

@keyframes spin {
    0% {transform:rotateY(0deg);} 
    100% {transform: rotateY(360deg);} 
    }

    @keyframes pulse{
    	0%{filter: drop-shadow(0 0 1px red);}
    	100%{filter: drop-shadow(0 0 15px red);}
    }

 .door{
 	display: flex;
 	justify-content: center;
 }


#door{
position:absolute;
animation: spin 8s ease-in infinite;
animation-direction: alternate;
padding: 6rem;
}

#dork{
	height: 500px;
	width: auto;
	z-index: 50;
	cursor:url(https://ani.cursors-4u.net/symbols/sym-9/sym837.ani), url(http://ani.cursors-4u.net/symbols/sym-9/sym837.png), auto !important;
}

.skybox{
 max-width: 100%;
 height: auto;
position: fixed;
top: 0;
left: 0;
z-index: -1;
} 

/* media query time */

@media only screen and (max-width: 675px){
#info, #info2, #nowPlaying{
right: 0.5rem;
padding: 1rem;
margin-right: 0;
}

#note, #heartChain, .question{
	right: 1em;
}

#dork{
	height: 450px;
}

#close{
	right: 3em;
	padding: 2px;
}


}